In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train = pd.read_csv('train_wn75k28.csv')
train.head()

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12,buy
0,1,2021-01-01,1,2,2.0,2020-09-24,0,0,0,0,0,0,1,1,0,0,0,0,0
1,2,2021-01-01,2,1,2.0,2020-09-19,1,0,1,0,0,0,1,0,0,0,0,0,0
2,3,2021-01-01,9,3,3.0,2021-08-11,1,0,0,0,0,0,0,0,0,0,0,0,0
3,4,2021-01-01,6,7,2.0,2017-10-04,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5,2021-01-01,4,6,NaN,2020-06-08,0,0,0,0,0,0,1,0,0,0,1,0,0

In [3]:
train.shape

(39161, 19)

In [4]:
train.isnull().sum()

id                          0
created_at                  0
campaign_var_1              0
campaign_var_2              0
products_purchased      20911
signup_date             15113
user_activity_var_1         0
user_activity_var_2         0
user_activity_var_3         0
user_activity_var_4         0
user_activity_var_5         0
user_activity_var_6         0
user_activity_var_7         0
user_activity_var_8         0
user_activity_var_9         0
user_activity_var_10        0
user_activity_var_11        0
user_activity_var_12        0
buy                         0
dtype: int64

In [5]:
train.duplicated().sum()

0

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39161 entries, 0 to 39160
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    39161 non-null  int64
 1   created_at            39161 non-null  object
 2   campaign_var_1        39161 non-null  int64
 3   campaign_var_2        39161 non-null  int64
 4   products_purchased    18250 non-null  float64
 5   signup_date           24048 non-null  object
 6   user_activity_var_1   39161 non-null  int64
 7   user_activity_var_2   39161 non-null  int64
 8   user_activity_var_3   39161 non-null  int64
 9   user_activity_var_4   39161 non-null  int64
 10  user_activity_var_5   39161 non-null  int64
 11  user_activity_var_6   39161 non-null  int64
 12  user_activity_var_7   39161 non-null  int64
 13  user_activity_var_8   39161 non-null  int64
 14  user_activity_var_9   39161 non-null  int64
 15  user_activity_var_10  39161 non-null  int64
 16  user_activity_var_11  39161 non-null  int64
 17  user_activity_var_12  39161 non-null  int64
 18  buy                   39161 non-null  int64
dtypes: float64(1), int64(16), object(2)
memory usage: 5.7+ MB

In [7]:
test = pd.read_csv('test_Wf7sxXF.csv')
test.head()

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12
0,39162,2022-01-01,2,2,NaN,2021-08-17,1,1,0,0,0,1,0,0,0,0,1,0
1,39163,2022-01-01,4,7,3.0,2020-05-21,1,0,0,0,0,0,0,1,0,0,0,0
2,39164,2022-01-01,8,7,NaN,NaN,0,0,0,0,1,1,0,0,0,0,0,0
3,39165,2022-01-01,9,8,2.0,2020-06-22,0,0,0,0,1,1,1,0,0,0,2,0
4,39166,2022-01-01,4,5,2.0,2021-03-10,1,0,0,0,0,0,0,0,0,0,0,0

In [8]:
test.shape

(13184, 18)

In [9]:
test.isnull().sum()

id                         0
created_at                 0
campaign_var_1             0
campaign_var_2             0
products_purchased      8136
signup_date             6649
user_activity_var_1        0
user_activity_var_2        0
user_activity_var_3        0
user_activity_var_4        0
user_activity_var_5        0
user_activity_var_6        0
user_activity_var_7        0
user_activity_var_8        0
user_activity_var_9        0
user_activity_var_10       0
user_activity_var_11       0
user_activity_var_12       0
dtype: int64

In [10]:
test.duplicated().sum()

0

In [11]:
newtrain = train.copy()
newtest = test.copy()

In [12]:
newtrain = newtrain.drop(['created_at', 'signup_date'], axis = 1)
newtest = newtest.drop(['created_at', 'signup_date'], axis = 1)

In [13]:
newtrain['products_purchased'].value_counts()

2.0    8867
3.0    5024
1.0    3643
4.0     716
Name: products_purchased, dtype: int64

In [14]:
newtrain['buy'].value_counts()

0    37163
1     1998
Name: buy, dtype: int64

----------

analyzing for products_purchased

In [15]:
prod_purch = newtrain[newtrain['products_purchased'].isna()]

In [16]:
prod_purch['buy'].value_counts()

0    19866
1     1045
Name: buy, dtype: int64

In [17]:
prod_purch[prod_purch['buy'] == 1]

,id,campaign_var_1,campaign_var_2,products_purchased,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12,buy
173,174,6,3,NaN,0,1,0,0,1,0,0,0,0,0,0,0,1
178,179,8,9,NaN,1,0,0,1,1,0,0,0,1,0,0,0,1
305,306,5,7,NaN,1,0,0,0,0,0,0,0,0,0,0,0,1
326,327,3,6,NaN,0,0,0,1,0,1,0,0,0,0,0,0,1
345,346,5,8,NaN,1,0,0,1,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38871,38872,3,6,NaN,0,0,0,0,1,0,0,0,0,0,1,0,1
38964,38965,5,6,NaN,1,0,0,0,1,1,1,1,1,0,0,0,1
39071,39072,6,6,NaN,0,0,1,1,1,1,0,0,0,0,1,0,1
39129,39130,6,6,NaN,1,0,0,0,0,1,0,0,0,0,1,0,1
39139,39140,8,6,NaN,0,0,0,1,0,0,0,0,0,0,0,0,1

In [18]:
a = prod_purch[prod_purch['buy'] == 1]
a['user_activity_var_10'].value_counts()

0    1040
1       5
Name: user_activity_var_10, dtype: int64

In [19]:
a['user_activity_var_12'].value_counts()

0    1039
1       6
Name: user_activity_var_12, dtype: int64

-----------

In [20]:
newtrain['products_purchased'] = newtrain['products_purchased'].fillna(0.0)

In [21]:
newtest['products_purchased'] = newtest['products_purchased'].fillna(0.0)

------

-------------

In [83]:
x = newtrain.drop('buy', axis = 1)
y = newtrain['buy']

In [84]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, stratify=y, random_state=50)

In [85]:
from imblearn.over_sampling import SMOTE
oversample = SMOTE(sampling_strategy = 0.11, random_state = 0)
x_train, y_train = oversample.fit_resample(x_train, y_train)
x_train = pd.DataFrame(x_train)

In [86]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import GridSearchCV, StratifiedKFold
cv = StratifiedKFold(n_splits = 5, shuffle = True)
param_grid = {'max_depth': [3,4,5], 'max_features': ['auto','log2']} 
model_grid = GridSearchCV(GradientBoostingClassifier(), param_grid, refit= True, verbose = 3, cv = cv, scoring= 'neg_log_loss')
model_grid.fit(x_train, y_train)

Fitting 5 folds for each of 6 candidates, totalling 30 fits
[CV 1/5] END .................max_depth=3, max_features=auto; total time=   5.2s
[CV 2/5] END .................max_depth=3, max_features=auto; total time=   6.1s
[CV 3/5] END .................max_depth=3, max_features=auto; total time=   5.1s
[CV 4/5] END .................max_depth=3, max_features=auto; total time=   5.1s
[CV 5/5] END .................max_depth=3, max_features=auto; total time=   5.0s
[CV 1/5] END .................max_depth=3, max_features=log2; total time=   1.9s
[CV 2/5] END .................max_depth=3, max_features=log2; total time=   1.9s
[CV 3/5] END .................max_depth=3, max_features=log2; total time=   1.9s
[CV 4/5] END .................max_depth=3, max_features=log2; total time=   1.9s
[CV 5/5] END .................max_depth=3, max_features=log2; total time=   1.8s
[CV 1/5] END .................max_depth=4, max_features=auto; total time=   6.5s
[CV 2/5] END .................max_depth=4, max_features=auto; total time=   6.8s
[CV 3/5] END .................max_depth=4, max_features=auto; total time=   6.7s
[CV 4/5] END .................max_depth=4, max_features=auto; total time=   6.6s
[CV 5/5] END .................max_depth=4, max_features=auto; total time=   6.8s
[CV 1/5] END .................max_depth=4, max_features=log2; total time=   2.7s
[CV 2/5] END .................max_depth=4, max_features=log2; total time=   2.6s
[CV 3/5] END .................max_depth=4, max_features=log2; total time=   2.4s
[CV 4/5] END .................max_depth=4, max_features=log2; total time=   2.9s
[CV 5/5] END .................max_depth=4, max_features=log2; total time=   2.6s
[CV 1/5] END .................max_depth=5, max_features=auto; total time=   8.6s
[CV 2/5] END .................max_depth=5, max_features=auto; total time=   8.0s
[CV 3/5] END .................max_depth=5, max_features=auto; total time=   8.5s
[CV 4/5] END .................max_depth=5, max_features=auto; total time=   8.2s
[CV 5/5] END .................max_depth=5, max_features=auto; total time=   8.9s
[CV 1/5] END .................max_depth=5, max_features=log2; total time=   3.2s
[CV 2/5] END .................max_depth=5, max_features=log2; total time=   3.0s
[CV 3/5] END .................max_depth=5, max_features=log2; total time=   2.8s
[CV 4/5] END .................max_depth=5, max_features=log2; total time=   2.9s
[CV 5/5] END .................max_depth=5, max_features=log2; total time=   2.8s

GridSearchCV(cv=StratifiedKFold(n_splits=5, random_state=None, shuffle=True),
             estimator=GradientBoostingClassifier(),
             param_grid={'max_depth': [3, 4, 5],
                         'max_features': ['auto', 'log2']},
             scoring='neg_log_loss', verbose=3)

In [87]:
model_grid.best_params_

{'max_depth': 5, 'max_features': 'auto'}

In [88]:
from sklearn.ensemble import GradientBoostingClassifier
model=GradientBoostingClassifier(max_depth=5, random_state=4)
model.fit(x_train,y_train)

GradientBoostingClassifier(max_depth=5, random_state=4)

In [89]:
predicttrain=model.predict(x_train)
predicttest=model.predict(x_test)

In [90]:
from sklearn.metrics import log_loss  
log_loss(y_train, predicttrain), log_loss(y_test, predicttest)

(1.2967746891765926, 0.8201483473282977)

In [91]:
from imblearn.pipeline import Pipeline as imbpipeline
pipe = imbpipeline([('oversample', oversample) ,('RF', model)])

In [92]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
cv = StratifiedKFold(n_splits = 5, shuffle = True)
scores=cross_val_score(pipe, x,y, cv = cv, scoring='neg_log_loss')
scores, np.mean(scores)

(array([-0.10161162, -0.10510388, -0.10471185, -0.10519725, -0.09856586]),
 -0.10303809060966049)

In [93]:
predict=model.predict(newtest)

In [94]:
predict

array([1, 0, 0, ..., 0, 0, 0], dtype=int64)

In [95]:
solution = pd.DataFrame({'id' : test.id, 'buy' : predict})
solution.to_csv('GAB.csv', index = False)

-----