In [112]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [113]:
train = pd.read_csv('train_go05W65.csv')
train.head()

,Customer_ID,Gender,Age,Vintage,Is_Active,City_Category,Customer_Category,Product_Holding_B1,Product_Holding_B2
0,CC264719,Male,41,14,0,C1,S3,['P16'],['P8']
1,CC209679,Female,47,14,1,C1,S2,"['P13', 'P20']",['P3']
2,CC319633,Female,59,14,0,C2,S2,['P11'],['P00']
3,CC231413,Female,32,16,0,C1,S2,"['P8', 'P13']",['P6']
4,CC259633,Male,30,15,0,C2,S3,"['P16', 'P17', 'P21']","['P8', 'P12']"

In [114]:
train.shape

(37748, 9)

In [115]:
train.duplicated().sum()

0

In [116]:
train.isnull().sum()

Customer_ID           0
Gender                0
Age                   0
Vintage               0
Is_Active             0
City_Category         0
Customer_Category     0
Product_Holding_B1    0
Product_Holding_B2    0
dtype: int64

In [117]:
test = pd.read_csv('test_VkM91FT.csv')
test.head()

,Customer_ID,Gender,Age,Vintage,Is_Active,City_Category,Customer_Category,Product_Holding_B1
0,CC372708,Female,31,31,0,C2,S3,"['P12', 'P13']"
1,CC216072,Male,28,37,1,C1,S2,"['P12', 'P13']"
2,CC387629,Male,31,12,0,C2,S3,['P20']
3,CC389228,Female,55,11,0,C2,S2,"['P13', 'P21']"
4,CC394445,Male,51,49,1,C2,S1,['P13']

In [118]:
test.shape

(20327, 8)

In [119]:
test.isnull().sum()

Customer_ID           0
Gender                0
Age                   0
Vintage               0
Is_Active             0
City_Category         0
Customer_Category     0
Product_Holding_B1    0
dtype: int64

In [120]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37748 entries, 0 to 37747
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer_ID         37748 non-null  object
 1   Gender              37748 non-null  object
 2   Age                 37748 non-null  int64
 3   Vintage             37748 non-null  int64
 4   Is_Active           37748 non-null  int64
 5   City_Category       37748 non-null  object
 6   Customer_Category   37748 non-null  object
 7   Product_Holding_B1  37748 non-null  object
 8   Product_Holding_B2  37748 non-null  object
dtypes: int64(3), object(6)
memory usage: 2.6+ MB

In [121]:
train['Product_Holding_B1'].nunique()

617

In [122]:
test['Product_Holding_B1'].nunique()

510

In [123]:
train['Product_Holding_B2'].value_counts()

['P00']                             5908
['P8']                              5360
['P12']                             3844
['P16']                             3263
['P6']                              2170
                                    ...
['P8', 'P9', 'P16']                    1
['P3', 'P7', 'P12']                    1
['P4', 'P6', 'P12']                    1
['P3', 'P6', 'P8', 'P10', 'P12']       1
['P1', 'P5', 'P6', 'P8', 'P9']         1
Name: Product_Holding_B2, Length: 495, dtype: int64

In [124]:
train['Gender'].value_counts()

Male      25890
Female    11858
Name: Gender, dtype: int64

In [125]:
train['City_Category'].value_counts()

C1    18941
C2    18807
Name: City_Category, dtype: int64

In [126]:
train['Customer_Category'].value_counts()

S3    17865
S2    13265
S1     6618
Name: Customer_Category, dtype: int64

In [127]:
train['Gender'] = train['Gender'].replace({'Male': 1, 'Female': 0})
test['Gender'] = test['Gender'].replace({'Male': 1, 'Female': 0})

In [128]:
train['City_Category'] = train['City_Category'].replace({'C1': 1, 'C2': 2})
test['City_Category'] = test['City_Category'].replace({'C1': 1, 'C2': 2})

In [129]:
train['Customer_Category'] = train['Customer_Category'].replace({'S1': 1, 'S2':2, 'S3':3})
test['Customer_Category'] = test['Customer_Category'].replace({'S1': 1, 'S2':2, 'S3':3})

In [130]:
train['Gender'] = train['Gender'].astype(int)
test['Gender'] = test['Gender'].astype(int)

In [131]:
train['City_Category'] = train['City_Category'].astype(int)
test['City_Category'] = test['City_Category'].astype(int)

In [132]:
train['Customer_Category'] = train['Customer_Category'].astype(int)
test['Customer_Category'] = test['Customer_Category'].astype(int)

In [133]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37748 entries, 0 to 37747
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer_ID         37748 non-null  object
 1   Gender              37748 non-null  int32
 2   Age                 37748 non-null  int64
 3   Vintage             37748 non-null  int64
 4   Is_Active           37748 non-null  int64
 5   City_Category       37748 non-null  int32
 6   Customer_Category   37748 non-null  int32
 7   Product_Holding_B1  37748 non-null  object
 8   Product_Holding_B2  37748 non-null  object
dtypes: int32(3), int64(3), object(3)
memory usage: 2.2+ MB

train['P1'] = train['Product_Holding_B1'].apply(lambda x:x.split(',')[0])

train['P1'] = train['P1'].str.replace('[^\dA-Za-z]', '')
train['P1']

In [134]:
train['Product_Holding_B1'] = train['Product_Holding_B1'].str.replace('[^\dA-Za-z,]', '')
train['Product_Holding_B1']

<ipython-input-134-06ce785aea69>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  train['Product_Holding_B1'] = train['Product_Holding_B1'].str.replace('[^\dA-Za-z,]', '')

0                P16
1            P13,P20
2                P11
3             P8,P13
4        P16,P17,P21
            ...
37743            P16
37744    P16,P17,P21
37745            P14
37746        P12,P13
37747        P16,P17
Name: Product_Holding_B1, Length: 37748, dtype: object

In [136]:
train = pd.concat([train, train['Product_Holding_B1'].str.split(',', expand=True)], axis = 1)

In [137]:
train.head()

,Customer_ID,Gender,Age,Vintage,Is_Active,City_Category,Customer_Category,Product_Holding_B1,Product_Holding_B2,0,1,2,3,4,5,6,7
0,CC264719,1,41,14,0,1,3,P16,['P8'],P16,None,None,None,None,None,None,None
1,CC209679,0,47,14,1,1,2,"P13,P20",['P3'],P13,P20,None,None,None,None,None,None
2,CC319633,0,59,14,0,2,2,P11,['P00'],P11,None,None,None,None,None,None,None
3,CC231413,0,32,16,0,1,2,"P8,P13",['P6'],P8,P13,None,None,None,None,None,None
4,CC259633,1,30,15,0,2,3,"P16,P17,P21","['P8', 'P12']",P16,P17,P21,None,None,None,None,None

In [138]:
test['Product_Holding_B1'] = test['Product_Holding_B1'].str.replace('[^\dA-Za-z,]', '')
test['Product_Holding_B1']

<ipython-input-138-8bb858ccf83e>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  test['Product_Holding_B1'] = test['Product_Holding_B1'].str.replace('[^\dA-Za-z,]', '')

0            P12,P13
1            P12,P13
2                P20
3            P13,P21
4                P13
            ...
20322            P16
20323            P16
20324            P13
20325      P8,P9,P16
20326    P12,P13,P17
Name: Product_Holding_B1, Length: 20327, dtype: object

In [139]:
test = pd.concat([test, test['Product_Holding_B1'].str.split(',', expand=True)], axis = 1)

In [140]:
test.head()

,Customer_ID,Gender,Age,Vintage,Is_Active,City_Category,Customer_Category,Product_Holding_B1,0,1,2,3,4,5,6,7
0,CC372708,0,31,31,0,2,3,"P12,P13",P12,P13,None,None,None,None,None,None
1,CC216072,1,28,37,1,1,2,"P12,P13",P12,P13,None,None,None,None,None,None
2,CC387629,1,31,12,0,2,3,P20,P20,None,None,None,None,None,None,None
3,CC389228,0,55,11,0,2,2,"P13,P21",P13,P21,None,None,None,None,None,None
4,CC394445,1,51,49,1,2,1,P13,P13,None,None,None,None,None,None,None

In [141]:
train = train.drop('Product_Holding_B1', axis = 1)
test = test.drop('Product_Holding_B1', axis = 1)

In [142]:
train.shape

(37748, 16)

In [143]:
test.shape

(20327, 15)

In [144]:
train = train.fillna('No Values')

In [145]:
test = test.fillna('No Values')

In [146]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37748 entries, 0 to 37747
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer_ID         37748 non-null  object
 1   Gender              37748 non-null  int32
 2   Age                 37748 non-null  int64
 3   Vintage             37748 non-null  int64
 4   Is_Active           37748 non-null  int64
 5   City_Category       37748 non-null  int32
 6   Customer_Category   37748 non-null  int32
 7   Product_Holding_B2  37748 non-null  object
 8   0                   37748 non-null  object
 9   1                   37748 non-null  object
 10  2                   37748 non-null  object
 11  3                   37748 non-null  object
 12  4                   37748 non-null  object
 13  5                   37748 non-null  object
 14  6                   37748 non-null  object
 15  7                   37748 non-null  object
dtypes: int32(3), int64(3), object(10)
memory usage: 4.2+ MB

In [147]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20327 entries, 0 to 20326
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer_ID        20327 non-null  object
 1   Gender             20327 non-null  int32
 2   Age                20327 non-null  int64
 3   Vintage            20327 non-null  int64
 4   Is_Active          20327 non-null  int64
 5   City_Category      20327 non-null  int32
 6   Customer_Category  20327 non-null  int32
 7   0                  20327 non-null  object
 8   1                  20327 non-null  object
 9   2                  20327 non-null  object
 10  3                  20327 non-null  object
 11  4                  20327 non-null  object
 12  5                  20327 non-null  object
 13  6                  20327 non-null  object
 14  7                  20327 non-null  object
dtypes: int32(3), int64(3), object(9)
memory usage: 2.1+ MB

In [148]:
newtrain = train.copy()
newtest = test.copy()

In [149]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [150]:
x = ['Customer_ID', 0, 1, 2, 3, 4, 5, 6, 7]
for i in x:
    newtrain[i] = le.fit_transform(newtrain[i])
    newtest[i] = le.fit_transform(newtest[i])

In [151]:
newtrain.head()

,Customer_ID,Gender,Age,Vintage,Is_Active,City_Category,Customer_Category,Product_Holding_B2,0,1,2,3,4,5,6,7
0,10729,1,41,14,0,1,3,['P8'],8,0,0,0,0,0,0,0
1,2107,0,47,14,1,1,2,['P3'],5,11,0,0,0,0,0,0
2,19152,0,59,14,0,2,2,['P00'],3,0,0,0,0,0,0,0
3,5261,0,32,16,0,1,2,['P6'],20,4,0,0,0,0,0,0
4,9875,1,30,15,0,2,3,"['P8', 'P12']",8,8,12,0,0,0,0,0

In [152]:
newtest.head()

,Customer_ID,Gender,Age,Vintage,Is_Active,City_Category,Customer_Category,0,1,2,3,4,5,6,7
0,13812,0,31,31,0,2,3,4,4,0,0,0,0,0,0
1,1741,1,28,37,1,1,2,4,4,0,0,0,0,0,0
2,17437,1,31,12,0,2,3,13,0,0,0,0,0,0,0
3,17791,0,55,11,0,2,2,5,12,0,0,0,0,0,0
4,19283,1,51,49,1,2,1,5,0,0,0,0,0,0,0

In [153]:
newtrain['Product_Holding_B2'] = le.fit_transform(newtrain['Product_Holding_B2'])

In [164]:
x = newtrain.drop('Product_Holding_B2', axis = 1)
y = newtrain['Product_Holding_B2']

In [165]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 1)

In [156]:
from sklearn.metrics import average_precision_score, accuracy_score

In [158]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
y_pred = rf.fit(x_train, y_train).predict(x_test)
print(accuracy_score(y_test, y_pred))

0.6217218543046358

In [162]:
x_train = newtrain.drop('Product_Holding_B2', axis = 1)
y_train = newtrain['Product_Holding_B2']
x_test = newtest

In [163]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
y_pred = rf.fit(x_train, y_train).predict(x_test)
solution = pd.DataFrame({'Customer_ID': test.Customer_ID, 'Product_Holding_B2': le.inverse_transform(y_pred)})
solution.to_csv('Solution.csv', index = False)