In [146]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [147]:
usertable = pd.read_csv('userTable.csv')
usertable.head()

    UserID                       Signup Date User Segment
0  U133159  2018-04-14 07:01:16.202607+00:00            C
1  U129368  2017-12-02 09:38:41.584270+00:00            B
2  U109654         2013-03-19 11:38:55+00:00            B
3  U108998  2018-01-18 08:29:51.627954+00:00            C
4  U131393  2018-03-27 08:05:28.806800+00:00            B

In [148]:
usertable.shape

(34050, 3)

----------

In [149]:
visitorlogs = pd.read_csv('VisitorLogsData.csv')
visitorlogs.head()

,webClientID,VisitDateTime,ProductID,UserID,Activity,Browser,OS,City,Country
0,WI10000050298,2018-05-07 04:28:45.970,pr100631,NaN,NaN,Chrome Mobile,Android,Chennai,India
1,WI10000025922,2018-05-13 07:26:04.964,pr100707,NaN,NaN,Chrome,Windows,NaN,Taiwan
2,WI100000204522,2018-05-11 11:43:42.832,pr100030,NaN,click,Chrome,windows,Gurgaon,India
3,WI10000011974,2018-05-13 15:20:23.436,Pr100192,NaN,CLICK,Chrome,Windows,,
4,WI100000441953,2018-05-08 20:44:25.238,Pr100762,NaN,click,Chrome,mac os x,Iselin,United States

In [150]:
visitorlogs.shape

(6588000, 9)

In [151]:
submission = pd.read_csv('sample_submission_M7Vpb9f.csv')
submission.head()

,UserID,No_of_days_Visited_7_Days,No_Of_Products_Viewed_15_Days,User_Vintage,Most_Viewed_product_15_Days,Most_Active_OS,Recently_Viewed_Product,Pageloads_last_7_days,Clicks_last_7_days
0,U100002,1,1,1,P12345,OS12345,P12345,1,1
1,U100003,1,1,1,P12345,OS12345,P12345,1,1
2,U100004,1,1,1,P12345,OS12345,P12345,1,1
3,U100005,1,1,1,P12345,OS12345,P12345,1,1
4,U100006,1,1,1,P12345,OS12345,P12345,1,1

In [152]:
submission.shape

(34050, 9)

In [153]:
visitorlogs['VisitDateTime'].nunique()

5482669

In [154]:
visitorlogs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6588000 entries, 0 to 6587999
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   webClientID    object
 1   VisitDateTime  object
 2   ProductID      object
 3   UserID         object
 4   Activity       object
 5   Browser        object
 6   OS             object
 7   City           object
 8   Country        object
dtypes: object(9)
memory usage: 452.4+ MB

In [155]:
visitorlogs.isnull().sum()

webClientID            0
VisitDateTime     658915
ProductID         527137
UserID           5937305
Activity          889446
Browser                0
OS                     0
City             2165831
Country           397693
dtype: int64

In [156]:
visitorlogs['VisitDateTime'] = visitorlogs['VisitDateTime'].fillna(visitorlogs['VisitDateTime'].value_counts().index[0])

In [157]:
visitorlogs['VisitDateTime'] = visitorlogs['VisitDateTime'].str[:10]

In [158]:
visitorlogs.isnull().sum()

webClientID            0
VisitDateTime          0
ProductID         527137
UserID           5937305
Activity          889446
Browser                0
OS                     0
City             2165831
Country           397693
dtype: int64

In [159]:
df = visitorlogs[~visitorlogs['VisitDateTime'].str.contains('-')]
df.head()

,webClientID,VisitDateTime,ProductID,UserID,Activity,Browser,OS,City,Country
13,WI10000021996,1527051855,Pr100526,NaN,NaN,Chrome,Mac OS X,Escondido,United States Escondido
14,WI100000112772,1526366895,Pr100017,U106593,click,Chrome Mobile,Android,,
17,WI100000199021,1526982800,Pr100681,NaN,click,Chrome,Windows,NaN,India
21,WI1000009977,1527058921,Pr101008,U108297,NaN,Chrome Mobile,Android,Delhi,India
28,WI10000051567,1527006131,Pr100558,NaN,NaN,Chrome Mobile,android,NaN,India

In [160]:
df['VisitDateTime'] = pd.to_datetime(df['VisitDateTime'], unit = 's')
df.head()

<ipython-input-160-77d362c10ea8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['VisitDateTime'] = pd.to_datetime(df['VisitDateTime'], unit = 's')

,webClientID,VisitDateTime,ProductID,UserID,Activity,Browser,OS,City,Country
13,WI10000021996,2018-05-23 05:04:15,Pr100526,NaN,NaN,Chrome,Mac OS X,Escondido,United States Escondido
14,WI100000112772,2018-05-15 06:48:15,Pr100017,U106593,click,Chrome Mobile,Android,,
17,WI100000199021,2018-05-22 09:53:20,Pr100681,NaN,click,Chrome,Windows,NaN,India
21,WI1000009977,2018-05-23 07:02:01,Pr101008,U108297,NaN,Chrome Mobile,Android,Delhi,India
28,WI10000051567,2018-05-22 16:22:11,Pr100558,NaN,NaN,Chrome Mobile,android,NaN,India

In [161]:
df1 = visitorlogs[visitorlogs['VisitDateTime'].str.contains('-')]
df1['VisitDateTime'] = pd.to_datetime(df1['VisitDateTime'])
df1.head()

<ipython-input-161-da7d9d208ce4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['VisitDateTime'] = pd.to_datetime(df1['VisitDateTime'])

,webClientID,VisitDateTime,ProductID,UserID,Activity,Browser,OS,City,Country
0,WI10000050298,2018-05-07,pr100631,NaN,NaN,Chrome Mobile,Android,Chennai,India
1,WI10000025922,2018-05-13,pr100707,NaN,NaN,Chrome,Windows,NaN,Taiwan
2,WI100000204522,2018-05-11,pr100030,NaN,click,Chrome,windows,Gurgaon,India
3,WI10000011974,2018-05-13,Pr100192,NaN,CLICK,Chrome,Windows,,
4,WI100000441953,2018-05-08,Pr100762,NaN,click,Chrome,mac os x,Iselin,United States

In [162]:
final_df = df.append(df1)
final_df.head()

,webClientID,VisitDateTime,ProductID,UserID,Activity,Browser,OS,City,Country
13,WI10000021996,2018-05-23 05:04:15,Pr100526,NaN,NaN,Chrome,Mac OS X,Escondido,United States Escondido
14,WI100000112772,2018-05-15 06:48:15,Pr100017,U106593,click,Chrome Mobile,Android,,
17,WI100000199021,2018-05-22 09:53:20,Pr100681,NaN,click,Chrome,Windows,NaN,India
21,WI1000009977,2018-05-23 07:02:01,Pr101008,U108297,NaN,Chrome Mobile,Android,Delhi,India
28,WI10000051567,2018-05-22 16:22:11,Pr100558,NaN,NaN,Chrome Mobile,android,NaN,India

In [163]:
final_df.shape

(6588000, 9)

In [164]:
final_df['day']= final_df['VisitDateTime'].dt.day
final_df['month'] =final_df['VisitDateTime'].dt.month
final_df['year'] = final_df['VisitDateTime'].dt.year

In [165]:
final_df = final_df.drop(['City', 'Country'], axis = 1)
final_df.head()

,webClientID,VisitDateTime,ProductID,UserID,Activity,Browser,OS,day,month,year
13,WI10000021996,2018-05-23 05:04:15,Pr100526,NaN,NaN,Chrome,Mac OS X,23,5,2018
14,WI100000112772,2018-05-15 06:48:15,Pr100017,U106593,click,Chrome Mobile,Android,15,5,2018
17,WI100000199021,2018-05-22 09:53:20,Pr100681,NaN,click,Chrome,Windows,22,5,2018
21,WI1000009977,2018-05-23 07:02:01,Pr101008,U108297,NaN,Chrome Mobile,Android,23,5,2018
28,WI10000051567,2018-05-22 16:22:11,Pr100558,NaN,NaN,Chrome Mobile,android,22,5,2018

In [166]:
usertable['UserID'].nunique()

34050

In [167]:
final_df['UserID'].nunique()

34050

In [168]:
6588000 - 5937305

650695

In [169]:
final_df['Activity'].value_counts()

click       3041039
pageload    1517948
CLICK        759590
PAGELOAD     379977
Name: Activity, dtype: int64

In [170]:
final_df['Activity'] = final_df['Activity'].fillna(final_df['Activity'].value_counts().index[0])

In [171]:
final_df['UserID'] = final_df['UserID'].fillna('Unknown')

In [172]:
final_df['ProductID'] = final_df['ProductID'].fillna('Unknown')

In [173]:
final_df.isnull().sum()

webClientID      0
VisitDateTime    0
ProductID        0
UserID           0
Activity         0
Browser          0
OS               0
day              0
month            0
year             0
dtype: int64

In [174]:
final_df['UserID'].nunique()

34051

-----------------

No_of_days_Visited_7_Days

In [175]:
a = final_df[(final_df['day'] >= 21) & (final_df['day'] <= 27)]
b = a.sort_values(by = ['UserID', 'day'], axis = 0)

In [176]:
c = b.drop_duplicates(subset= ['UserID', 'day'], keep = 'first')
c

,webClientID,VisitDateTime,ProductID,UserID,Activity,Browser,OS,day,month,year
341562,WI100000392911,2018-05-25 00:00:00,Unknown,U100003,click,Chrome,Windows,25,5,2018
1408972,WI10000097797,2018-05-21 00:00:00,Pr100753,U100004,pageload,Chrome,Windows,21,5,2018
4837296,WI10000099284,2018-05-21 00:00:00,Pr101249,U100005,pageload,Chrome,Android,21,5,2018
1765326,WI10000099284,2018-05-26 00:00:00,Pr100234,U100005,click,Chrome,Android,26,5,2018
5832241,WI1000001090210,2018-05-21 00:00:00,Pr101111,U100006,pageload,Chrome Mobile,Android,21,5,2018
...,...,...,...,...,...,...,...,...,...,...
13,WI10000021996,2018-05-23 05:04:15,Pr100526,Unknown,click,Chrome,Mac OS X,23,5,2018
1144,WI100000233,2018-05-24 16:06:59,Unknown,Unknown,pageload,Chrome,windows,24,5,2018
400,WI10000053099,2018-05-25 18:44:51,Pr100047,Unknown,click,Chrome,Windows,25,5,2018
95,WI100000817830,2018-05-26 07:40:13,Pr101312,Unknown,pageload,IE,Windows,26,5,2018
111,WI100000171226,2018-05-27 07:33:08,Pr100017,Unknown,pageload,Chrome,Windows,27,5,2018

In [177]:
d = c.groupby(by = 'UserID', axis = 0).count()['day']
d

UserID
U100003    1
U100004    1
U100005    2
U100006    1
U100007    1
          ..
U136949    1
U136956    1
U136959    1
U136963    1
Unknown    7
Name: day, Length: 23423, dtype: int64

------------

No_Of_Products_Viewed_15_Days

In [178]:
e = final_df[(final_df['day'] >= 13) & (final_df['day'] <= 27)]
f = e.sort_values(by = ['UserID', 'ProductID'], axis = 0)
f

,webClientID,VisitDateTime,ProductID,UserID,Activity,Browser,OS,day,month,year
4655019,WI10000020634,2018-05-18 10:39:46,Pr100258,U100002,click,Chrome Mobile,Android,18,5,2018
3452388,WI10000020634,2018-05-18 00:00:00,Pr100258,U100002,pageload,Chrome Mobile,Android,18,5,2018
5811371,WI10000020634,2018-05-18 00:00:00,Pr100258,U100002,pageload,Chrome Mobile,Android,18,5,2018
5179952,WI10000020634,2018-05-18 00:00:00,Pr101097,U100002,click,Chrome Mobile,Android,18,5,2018
270999,WI10000020634,2018-05-18 00:00:00,pr100258,U100002,click,Chrome Mobile,Android,18,5,2018
...,...,...,...,...,...,...,...,...,...,...
317925,WI100000363562,2018-05-21 00:00:00,pr112384,Unknown,PAGELOAD,Chrome,Windows,21,5,2018
1408038,WI100000484866,2018-05-21 00:00:00,pr112406,Unknown,click,Chrome,Windows,21,5,2018
3936191,WI100000140166,2018-05-21 00:00:00,pr112417,Unknown,click,Chrome,Windows,21,5,2018
4803668,WI100000766846,2018-05-21 00:00:00,pr112424,Unknown,click,Chrome,Windows,21,5,2018
5136967,WI100000161789,2018-05-21 00:00:00,pr112438,Unknown,click,Chrome,Linux,21,5,2018

In [179]:
g = f.groupby(by = 'UserID', axis = 0).count()['ProductID']
g

UserID
U100002          5
U100003          4
U100004         30
U100005          5
U100006          1
            ...
U136949          2
U136956          1
U136959          2
U136963          2
Unknown    4364497
Name: ProductID, Length: 29087, dtype: int64

In [180]:
g.shape

(29087,)

-----------

User_Vintage

In [181]:
usertable.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34050 entries, 0 to 34049
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   UserID        34050 non-null  object
 1   Signup Date   34050 non-null  object
 2   User Segment  34050 non-null  object
dtypes: object(3)
memory usage: 798.2+ KB

In [182]:
usertable['Signup Date'].value_counts()

2014-02-03 15:17:28.723279+00:00    13
2018-04-08 14:15:01.033608+00:00     1
2017-10-20 14:53:03.265502+00:00     1
2012-03-23 22:54:33+00:00            1
2016-07-13 06:15:01.766435+00:00     1
                                    ..
2016-01-14 04:48:17.730992+00:00     1
2018-04-06 17:07:07.495761+00:00     1
2018-04-10 07:13:40.133259+00:00     1
2018-02-15 02:00:56.488287+00:00     1
2017-06-27 09:59:54.798612+00:00     1
Name: Signup Date, Length: 34038, dtype: int64

In [183]:
usertable['Signup Date'] = usertable['Signup Date'].str[:10]

In [184]:
usertable['Signup Date'] = pd.to_datetime(usertable['Signup Date'])

In [185]:
usertable['Day'] = '2018-05-27'
usertable['Day'] = pd.to_datetime(usertable['Day'])
usertable.head()

    UserID Signup Date User Segment        Day
0  U133159  2018-04-14            C 2018-05-27
1  U129368  2017-12-02            B 2018-05-27
2  U109654  2013-03-19            B 2018-05-27
3  U108998  2018-01-18            C 2018-05-27
4  U131393  2018-03-27            B 2018-05-27

In [186]:
usertable.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34050 entries, 0 to 34049
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   UserID        34050 non-null  object
 1   Signup Date   34050 non-null  datetime64[ns]
 2   User Segment  34050 non-null  object
 3   Day           34050 non-null  datetime64[ns]
dtypes: datetime64[ns](2), object(2)
memory usage: 1.0+ MB

In [187]:
usertable['Vintage'] = (usertable['Day'] - usertable['Signup Date']).dt.days
usertable.head()

    UserID Signup Date User Segment        Day  Vintage
0  U133159  2018-04-14            C 2018-05-27       43
1  U129368  2017-12-02            B 2018-05-27      176
2  U109654  2013-03-19            B 2018-05-27     1895
3  U108998  2018-01-18            C 2018-05-27      129
4  U131393  2018-03-27            B 2018-05-27       61

In [188]:
vintage = pd.Series(usertable['Vintage'].values, index = usertable['UserID'])
vintage

UserID
U133159      43
U129368     176
U109654    1895
U108998     129
U131393      61
           ...
U134073      69
U113667      88
U128470      84
U104005     125
U125524     166
Length: 34050, dtype: int64

In [189]:
usertable[usertable['UserID'] == 'U100002']['Vintage']

32423    52
Name: Vintage, dtype: int64

----------

Most_Viewed_product_15_Days

In [190]:
vat = final_df[(final_df['Activity'] == 'pageload') & (final_df['day'] >= 13) & (final_df['day'] <= 27)]
wat = vat.sort_values(by = ['UserID', 'day'], axis = 0)

In [191]:
xat = wat.loc[wat.groupby('UserID').day.idxmax()]

In [192]:
type(xat)

pandas.core.frame.DataFrame

In [193]:
wat

,webClientID,VisitDateTime,ProductID,UserID,Activity,Browser,OS,day,month,year
3452388,WI10000020634,2018-05-18 00:00:00,Pr100258,U100002,pageload,Chrome Mobile,Android,18,5,2018
5811371,WI10000020634,2018-05-18 00:00:00,Pr100258,U100002,pageload,Chrome Mobile,Android,18,5,2018
713909,WI100000392911,2018-05-25 00:00:00,Pr100079,U100003,pageload,Chrome,Windows,25,5,2018
4417545,WI10000097797,2018-05-13 00:00:00,Pr100694,U100004,pageload,Chrome,Windows,13,5,2018
1234954,WI10000097797,2018-05-15 13:41:57,Pr100312,U100004,pageload,Chrome,Windows,15,5,2018
...,...,...,...,...,...,...,...,...,...,...
6587122,WI100000474986,2018-05-27 00:00:00,pr100025,Unknown,pageload,Chrome Mobile,Android,27,5,2018
6587468,WI10000069675,2018-05-27 00:00:00,Pr100017,Unknown,pageload,Opera Mobile,android,27,5,2018
6587535,WI100000278440,2018-05-27 00:00:00,pr100910,Unknown,pageload,Safari,Mac OS X,27,5,2018
6587592,WI100000413350,2018-05-27 00:00:00,Pr100017,Unknown,pageload,Chrome,Windows,27,5,2018
6587869,WI100000576056,2018-05-27 00:00:00,Unknown,Unknown,pageload,Firefox,Ubuntu,27,5,2018

In [194]:
xat.head()

,webClientID,VisitDateTime,ProductID,UserID,Activity,Browser,OS,day,month,year
3452388,WI10000020634,2018-05-18,Pr100258,U100002,pageload,Chrome Mobile,Android,18,5,2018
713909,WI100000392911,2018-05-25,Pr100079,U100003,pageload,Chrome,Windows,25,5,2018
1408972,WI10000097797,2018-05-21,Pr100753,U100004,pageload,Chrome,Windows,21,5,2018
3654129,WI10000099284,2018-05-26,Pr100234,U100005,pageload,Chrome,Android,26,5,2018
5832241,WI1000001090210,2018-05-21,Pr101111,U100006,pageload,Chrome Mobile,Android,21,5,2018

In [195]:
yat = pd.Series(xat['ProductID'].values, index = xat['UserID'])
yat

UserID
U100002    Pr100258
U100003    Pr100079
U100004    Pr100753
U100005    Pr100234
U100006    Pr101111
             ...
U136934    Pr100130
U136936    Pr100003
U136940    Pr100432
U136949    Pr100083
Unknown    Pr100017
Length: 22442, dtype: object

------------

Most_Active_OS

In [196]:
final_df['OS'].value_counts()

Windows          3948358
Android           872324
Mac OS X          771875
Linux             310421
windows           297555
iOS               126011
Ubuntu             83870
android            65389
mac os x           58040
linux              23202
Chrome OS           9353
ios                 9346
ubuntu              6314
Fedora              3967
Other                743
chrome os            738
fedora               303
other                 53
Windows Phone         46
Tizen                 29
FreeBSD               25
OpenBSD                6
Chromecast             6
NetBSD                 6
tizen                  5
Solaris                5
BlackBerry OS          3
Kindle                 3
freebsd                3
solaris                1
Name: OS, dtype: int64

In [197]:
final_df['OS'] = final_df['OS'].replace({'Windows' : 'windows', 'Android' : 'android', 'Mac OS X' : 'mac os x', 
                                        'Linux' : 'linux', 'Chrome OS' : 'chrome os', 'Ubuntu': 'ubuntu',
                                        'iOS' : 'ios'})

In [198]:
final_df['OS'].value_counts()

windows          4245913
android           937713
mac os x          829915
linux             333623
ios               135357
ubuntu             90184
chrome os          10091
Fedora              3967
Other                743
fedora               303
other                 53
Windows Phone         46
Tizen                 29
FreeBSD               25
Chromecast             6
OpenBSD                6
NetBSD                 6
tizen                  5
Solaris                5
freebsd                3
BlackBerry OS          3
Kindle                 3
solaris                1
Name: OS, dtype: int64

In [199]:
os = final_df.groupby('UserID')['OS'].agg(pd.Series.mode).to_frame()
os

              OS
UserID
U100002  android
U100003  windows
U100004  windows
U100005  android
U100006  android
...          ...
U136961  android
U136963  android
U136964  windows
U136965  android
Unknown  windows

[34051 rows x 1 columns]

In [200]:
os = os.reset_index('UserID')
os.head()

    UserID       OS
0  U100002  android
1  U100003  windows
2  U100004  windows
3  U100005  android
4  U100006  android

In [201]:
os1 = pd.Series(os['OS'].values, index= os['UserID'])
os1

UserID
U100002    android
U100003    windows
U100004    windows
U100005    android
U100006    android
            ...
U136961    android
U136963    android
U136964    windows
U136965    android
Unknown    windows
Length: 34051, dtype: object

In [202]:
test = final_df[final_df['UserID'] == 'U100002']
test['OS'].value_counts()

android    5
Name: OS, dtype: int64

------------------

Recently_Viewed_Product

In [203]:
v = final_df[(final_df['Activity'] == 'pageload')]
w = v.sort_values(by = ['UserID', 'day'], axis = 0)

In [204]:
x = w.loc[w.groupby('UserID').day.idxmax()]

In [205]:
type(x)

pandas.core.frame.DataFrame

In [206]:
x.head()

,webClientID,VisitDateTime,ProductID,UserID,Activity,Browser,OS,day,month,year
3452388,WI10000020634,2018-05-18,Pr100258,U100002,pageload,Chrome Mobile,android,18,5,2018
713909,WI100000392911,2018-05-25,Pr100079,U100003,pageload,Chrome,windows,25,5,2018
1408972,WI10000097797,2018-05-21,Pr100753,U100004,pageload,Chrome,windows,21,5,2018
3654129,WI10000099284,2018-05-26,Pr100234,U100005,pageload,Chrome,android,26,5,2018
5832241,WI1000001090210,2018-05-21,Pr101111,U100006,pageload,Chrome Mobile,android,21,5,2018

In [207]:
y = pd.Series(x['ProductID'].values, index = x['UserID'])
y

UserID
U100002    Pr100258
U100003    Pr100079
U100004    Pr100753
U100005    Pr100234
U100006    Pr101111
             ...
U136959    pr100656
U136961    Pr101381
U136963    Pr100166
U136965    Pr100709
Unknown    Pr100017
Length: 27827, dtype: object

----------------------

Pageloads_last_7_days

In [208]:
final_df['Activity'].value_counts()

click       3930485
pageload    1517948
CLICK        759590
PAGELOAD     379977
Name: Activity, dtype: int64

In [209]:
final_df['Activity'] = final_df['Activity'].replace({'CLICK': 'click', 'PAGELOAD' : 'pageload'})

In [210]:
final_df['Activity'].value_counts()

click       4690075
pageload    1897925
Name: Activity, dtype: int64

In [211]:
p = final_df[(final_df['day'] >= 21) & (final_df['day'] <= 27) & (final_df['Activity'] == 'pageload')]

In [212]:
q = p.sort_values(by = ['UserID', 'Activity'], axis = 0)

In [213]:
r = q.groupby(by = 'UserID', axis = 0).count()['Activity']
r

UserID
U100003         1
U100004         3
U100005         2
U100006         1
U100008        25
            ...
U136936         1
U136940         1
U136949         1
U136956         1
Unknown    763307
Name: Activity, Length: 18052, dtype: int64

-------------

Clicks_last_7_days

In [214]:
s = final_df[(final_df['day'] >= 21) & (final_df['day'] <= 27) & (final_df['Activity'] == 'click')]
t = s.sort_values(by = ['UserID', 'Activity'], axis = 0)
u = t.groupby(by = 'UserID', axis = 0).count()['Activity']
u

UserID
U100003          2
U100005          1
U100007          1
U100008         35
U100009          7
            ...
U136933          1
U136949          1
U136959          2
U136963          2
Unknown    1767631
Name: Activity, Length: 17967, dtype: int64

--------------

In [215]:
mydict = {'No_of_days_Visited_7_Days' : d, 'No_Of_Products_Viewed_15_Days' : g, 'User_Vintage' : vintage, 
          'Most_Viewed_product_15_Days' : yat, 'Most_Active_OS' : os1 ,'Recently_Viewed_Product' : y, 
          'Pageloads_last_7_days': r, 'Clicks_last_7_days': u}
dict_df = pd.DataFrame({ key:pd.Series(value) for key, value in mydict.items()})
dict_df['Recently_Viewed_Product'] = dict_df['Recently_Viewed_Product'].fillna('Product101')
dict_df['No_Of_Products_Viewed_15_Days'] = dict_df['No_Of_Products_Viewed_15_Days'].fillna(0)
dict_df['Pageloads_last_7_days'] = dict_df['Pageloads_last_7_days'].fillna(0)
dict_df['Clicks_last_7_days'] = dict_df['Clicks_last_7_days'].fillna(0)
dict_df['No_of_days_Visited_7_Days'] = dict_df['No_of_days_Visited_7_Days'].fillna(0)
dict_df['Most_Viewed_product_15_Days'] = dict_df['Most_Viewed_product_15_Days'].fillna('Product101')
dict_df

,No_of_days_Visited_7_Days,No_Of_Products_Viewed_15_Days,User_Vintage,Most_Viewed_product_15_Days,Most_Active_OS,Recently_Viewed_Product,Pageloads_last_7_days,Clicks_last_7_days
UserID,,,,,,,,
U100002,0.0,5.0,52.0,Pr100258,android,Pr100258,0.0,0.0
U100003,1.0,4.0,1020.0,Pr100079,windows,Pr100079,1.0,2.0
U100004,1.0,30.0,340.0,Pr100753,windows,Pr100753,3.0,0.0
U100005,2.0,5.0,680.0,Pr100234,android,Pr100234,2.0,1.0
U100006,1.0,1.0,54.0,Pr101111,android,Pr101111,1.0,0.0
...,...,...,...,...,...,...,...,...
U136961,0.0,0.0,59.0,Product101,android,Pr101381,0.0,0.0
U136963,1.0,2.0,1419.0,Product101,android,Pr100166,0.0,2.0
U136964,0.0,0.0,494.0,Product101,windows,Product101,0.0,0.0
U136965,0.0,0.0,242.0,Product101,android,Pr100709,0.0,0.0
Unknown,7.0,4364497.0,NaN,Pr100017,windows,Pr100017,763307.0,1767631.0

In [216]:
new_df = dict_df.drop('Unknown', axis = 0)
new_df.shape

(34050, 8)

In [217]:
new_df = new_df.reset_index('UserID')
new_df.head()

,UserID,No_of_days_Visited_7_Days,No_Of_Products_Viewed_15_Days,User_Vintage,Most_Viewed_product_15_Days,Most_Active_OS,Recently_Viewed_Product,Pageloads_last_7_days,Clicks_last_7_days
0,U100002,0.0,5.0,52.0,Pr100258,android,Pr100258,0.0,0.0
1,U100003,1.0,4.0,1020.0,Pr100079,windows,Pr100079,1.0,2.0
2,U100004,1.0,30.0,340.0,Pr100753,windows,Pr100753,3.0,0.0
3,U100005,2.0,5.0,680.0,Pr100234,android,Pr100234,2.0,1.0
4,U100006,1.0,1.0,54.0,Pr101111,android,Pr101111,1.0,0.0

In [218]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34050 entries, 0 to 34049
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   UserID                         34050 non-null  object
 1   No_of_days_Visited_7_Days      34050 non-null  float64
 2   No_Of_Products_Viewed_15_Days  34050 non-null  float64
 3   User_Vintage                   34050 non-null  float64
 4   Most_Viewed_product_15_Days    34050 non-null  object
 5   Most_Active_OS                 34050 non-null  object
 6   Recently_Viewed_Product        34050 non-null  object
 7   Pageloads_last_7_days          34050 non-null  float64
 8   Clicks_last_7_days             34050 non-null  float64
dtypes: float64(5), object(4)
memory usage: 2.3+ MB

In [219]:
x = ['No_of_days_Visited_7_Days', 'No_Of_Products_Viewed_15_Days', 'User_Vintage', 'Pageloads_last_7_days', 'Clicks_last_7_days']
for i in x:
    new_df[i] = new_df[i].astype(int)

In [220]:
new_df.head()

,UserID,No_of_days_Visited_7_Days,No_Of_Products_Viewed_15_Days,User_Vintage,Most_Viewed_product_15_Days,Most_Active_OS,Recently_Viewed_Product,Pageloads_last_7_days,Clicks_last_7_days
0,U100002,0,5,52,Pr100258,android,Pr100258,0,0
1,U100003,1,4,1020,Pr100079,windows,Pr100079,1,2
2,U100004,1,30,340,Pr100753,windows,Pr100753,3,0
3,U100005,2,5,680,Pr100234,android,Pr100234,2,1
4,U100006,1,1,54,Pr101111,android,Pr101111,1,0

In [221]:
new_df.to_csv('Solution.csv', index = False)